<style>
    #intro {
        background-image: url(/passwordResetApp/resources/images/background.jpg);
        height: 100vh;
    }
</style>


<!-- Background image -->
<div id="intro" class="bg-image shadow-2-strong">
    <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-md-8">
                    <form class="bg-white rounded shadow-5-strong p-4">
                        <div class="d-flex justify-content-center mb-8">
                            <img src="/passwordResetApp/resources/images/logo.png"
                                class="img-fluid col-xl-6 col-md-4" />
                        </div>

                        <div ng-show="tokenValidationOngoing">
                            <div class="mb-4 note note-info">
                                <span class="spinner-border spinner-border-sm"></span>
                                <span>Your reset link is being verified</span>
                            </div>
                        </div>

                        <div ng-show="!tokenValid && !tokenValidationOngoing">
                            <div class="mb-4 note note-warning">
                                <span>This reset link has expired</span>
                                <p>Please generate a new one <a ng-href="{{generateResetLinkPage}}">here</a></p>
                            </div>
                        </div>


                        <div ng-show="tokenValid && !tokenValidationOngoing">
                            <div ng-hide="resetSuccess">
                                <div class="mb-4">
                                    <span><b>User ID</b></span>
                                    <input type="text" id="userId" class="form-control" ng-model="userId" disabled />
                                </div>

                                <div class="mb-4">
                                    <div style="max-width:100%" class="d-flex flex-row mb-2">
                                        <div class="flex-grow-1">
                                            <input type="{{passwordType}}" id="password" ng-model="password_text"
                                                ng-keyup="checkPassword()" placeholder="Enter new password"
                                                style="width:100%" class="form-control"/>
                                        </div>
                                        <div class="align-self-center">
                                            <a href="" style="float:left" ng-show="showPassword"
                                                ng-click="togglePasswordVisibility()">
                                                <i class="fas fa-eye-slash fa-lg ms-2"></i></a>
                                            <a href="" style="float:left" ng-hide="showPassword"
                                                ng-click="togglePasswordVisibility()">
                                                <i class="fas fa-eye fa-lg ms-2"></i></a>
                                        </div>
                                    </div>

                                    <div class="password-strength-bar mb-1" ng-class="getPasswordStrengthClass()"
                                        ng-style="{width: passwordStrengthBarWidth + '%'}" ng-show="passwordStrength">
                                    </div>
                                    <div class="mb-2" ng-show="passwordStrength">
                                        <span>Password Strength: </span>
                                        <span class="password-strength-message" ng-class="getPasswordStrengthClass()"
                                            ng-show="passwordStrength">
                                            <b>{{passwordStrengthMessage}}</b></span>
                                        <a href="" ng-click="togglePasswordTipsVisibility()">
                                            <i class="fas fa-question-circle"></i>
                                        </a>
                                    </div>

                                    <div class="note note-light" ng-show="showPasswordTips">
                                        <p>A strong password should be at least 10 charcters long and consists of a capital
                                            letter, small letter, number and special character</p>
                                    </div>
                                </div>

                                <div class="mb-4" ng-hide="resetSuccess">
                                    <button class="btn btn-dark btn-block" type="submit"
                                        ng-disabled="requestProcessing || passwordStrength < 3"
                                        ng-click="resetPassword()" ng-hide="password_text.length === 0">
                                        <div ng-hide="requestProcessing">
                                            <span ng-show="passwordStrength < 3" class="fs-6">Password is weak</span>
                                            <span ng-hide="passwordStrength < 3" class="fs-6">Submit</span>
                                        </div>
                                        <div ng-show="requestProcessing">
                                            <span class="spinner-border spinner-border-sm"
                                            role="status" aria-hidden="true"></span>
                                        </div>
                                        
                                    </button>
                                </div>
                            </div>

                            <div ng-show="resetSuccess" class="mb-4 note note-success mb-4">
                                <span>Your password has been reset</span>
                                <p>Use your new password to login to <a href="http://student.iimcal.ac.in/bb/">BB</a> or
                                    <a href="https://courseweb.iimcal.ac.in/login/index.php">Courseweb</a>
                                </p>
                            </div>
                            <div ng-show="resetError" class="mb-4 note note-danger mb-4">
                                <span>Your password could not be reset</span>
                                <p>Please try generating a new link from <a ng-href="{{generateResetLinkPage}}">here</a>
                                    or contact ISG</p>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>