<style>
    #intro {
        background-image: url(/passwordResetApp/resources/images/background.jpg);
        height: 100vh;
    }
</style>


<!-- Background image -->
<div id="intro" class="bg-image shadow-2-strong">
    <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-md-8">
                    <form class="bg-white rounded shadow-5-strong p-4">
                        <div class="d-flex justify-content-center mb-8">
                            <img src="/passwordResetApp/resources/images/logo.png"
                                class="img-fluid col-xl-6 col-md-4" />
                        </div>

                        <div ng-show="tokenValidationOngoing">
                            <div class="mb-4 note note-info">
                                <span class="spinner-border spinner-border-sm"></span>
                                <span>Your token is being validated</span>
                            </div>
                        </div>

                        <div ng-show="!tokenValid && !tokenValidationOngoing">
                            <div class="mb-4 note note-warning">
                                <span>This reset link has expired</span>
                                <p>Please generate a new one <a ng-href="{{generateResetLinkPage}}">here</a></p>
                            </div>
                        </div>


                        <div ng-show="tokenValid && !tokenValidationOngoing">
                            <div>
                                <div class="mb-4">
                                    <span><b>User ID</b></span>
                                    <input type="text" id="userId" class="form-control" ng-model="userId" disabled />
                                </div>

                                <div class="mb-4">

                                    <input ng-show="passwordHidden" ng-disabled="resetSuccess" type="password"
                                        class="form-control" style="max-width:85%; display:inline;"
                                        placeholder="Enter new password" ng-model="password_text" />
                                    <a href=""><i ng-show="passwordHidden" ng-click="togglePasswordVisibility()"
                                            class="fas fa-eye fa-lg ms-2"></i></a>

                                    <input ng-hide="passwordHidden" ng-disabled="resetSuccess" type="text"
                                        class="form-control" style="max-width:85%; display:inline;"
                                        placeholder="Enter new password" ng-model="password_text" />
                                    <a href=""><i ng-hide="passwordHidden" ng-click="togglePasswordVisibility()"
                                            class="fas fa-eye-slash fa-lg ms-2"></i></a>
                                </div>

                                <div class="mb-4" ng-hide="resetSuccess">
                                    <button class="btn btn-primary btn-block" type="submit"
                                        ng-disabled="password_text.length === 0 || requestProcessing"
                                        ng-click="resetPassword()">
                                        <span ng-hide="requestProcessing" class="fs-6">Submit</span>
                                        <span ng-show="requestProcessing" class="spinner-border spinner-border-sm"
                                            role="status" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>

                            <div ng-show="resetSuccess" class="mb-4 note note-success mb-4">
                                <span>Your password has been reset</span>
                                <p>Use your new password to login to <a href="http://student.iimcal.ac.in/bb/">BB</a> or
                                    <a href="https://courseweb.iimcal.ac.in/login/index.php">Courseweb</a></p>
                            </div>
                            <div ng-show="resetError" class="mb-4 note note-danger mb-4">
                                <span>Your password could not be reset</span>
                                <p>Please try generating a new link from <a ng-href="{{generateResetLinkPage}}">here</a>
                                    or contact ISG</p>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>